---
{{tool.overview}}
"""
{{tool.overview_description}}
Args:{% for arg in tool.args %}
    {{arg.name}} ({{arg.type}}){% if arg.examples %}
        Sample inputs: {{arg.examples}}
{% endif %}{% endfor %}
Returns: {% if tool.output_description %}{{tool.output_description}}{% endif %}
"""
---
